<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <title></title>
  <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <![endif]-->
</head>

<body>
  <h1 style=" text-align: center; font-weight: bold; font-family: Arial, sans-serif;">Hola, <%= name %>
  </h1>
  <p style=" text-align: center; font-family: Arial, sans-serif;">Gracias por registrarte, haz clic en el enlace que
    aparece a continuaci칩n para activar tu cuenta.</p>
  <p style="text-align: center;">
    <a style="font-family: Arial, sans-serif;" href="<%= link %>">
      <%= link %>
    </a>
  </p>
  <p style="text-align: center; font-family: Arial, sans-serif;">Este correo ha sido enviado autom치ticamente, favor no
    responder a esta direcci칩n de correo electr칩nico, ya que no se encuentra habilitada para recibir mensajes.</p>
</body>

</html>